@media screen{
    @font-face {
        font-family:"DancingScript-Regular";
        src: url(/css/src/DancingScript-Regular.otf);
    }
    *{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
    }
    header{
        animation-duration: 5s;
        animation-name:animacion ;
    }
    @keyframes animacion{
        0%{
            margin-top: 150%;
        }
        60%{
            margin-top: -5%;
        }
        100%{
            margin-top: 0%;
        }
    }
    #contenido{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 900px;   
        background-color: #02010a; 
        padding: 50px;
    }
    #cabecera{
        background-color:#5b7989;
        color: white;
        text-shadow: 2px #02010a;
        width: 100%;
        height: 200px;
    }
    #cabecera h3,h4{
        text-align: center;
        float: right;
        padding: 10px;
        font-family: "DancingScript-Regular";
    }
    h2{
        text-align: center;
        font-family: "Dancing Script"
    }
    h1{
        float: left;
        padding: 10px;
        font-family: "DancingScript-Regular";
    }
    #ImagenCentral{
        background-color: #82c3a6;
    }
    #ImagenPrincipal{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 60%;
        height: 40%;
        padding: 20px;
    }
    #IzqImgSecundaria{
        background-color: #d5c75f;
        width: 50%;
        height: 50%;
        float: left;
        display: block;
    }
    #DerImgSecundaria{
        background-color: #d5c75f;
        width: 50%;
        height: 50%;
        float: right;
        display: block;
        
    }
    #IzqImagenSecundaria{
        transition: all 2s;
        width: 80%;
        height: 80%;
        float: left;
        margin: 30px;
        display: block;
    }
    #IzqImagenSecundaria:hover{
        transform: rotate(10deg);
        text-shadow: #82c3a6;
        border: 2px;
    }
    #DerImagenSecundaria{
        transition: all 2s;
        width: 80%;
        height: 80%;
        float: right;
        margin: 30px;
        display: block;
    }
    #DerImagenSecundaria:hover{
        transform: translate(5px, 20px);
        text-shadow: #82c3a6;
        border: 2px;
    }
    #Imagenes{
        background-color: #82c3a6;
        display: block;
    }
    #SupDer{
        filter: blur(10px);
        width: 30%;
        padding: 2px;
        height: 50%;
        flex-grow: 1;
    }
    #SupCen{
        filter: grayscale(100%);
        width: 30%;
        height: 50%;
        padding: 2px;
        flex-grow: 1;
    }
    #SupIzq{
        filter: sepia(90%);
        width: 30%;
        padding: 2px;
        height: 50%;
        flex-grow: 1;
    }
    #InfDer{
        filter: grayscale(100%);
        width: 30%;
        height: 50%;
        padding: 2px;
        flex-grow: 1;
    }
    #InfCen{
        width: 30%;
        height: 50%;
        flex-grow: 1;
        padding: 2px;
    }
    #InfIzq{
        filter: grayscale(100%);
        width: 30%;
        height: 50%;
        flex-grow: 1;
        padding: 2px;
    }
    #piepagina{
        width: 100%;
        height: 20%;
        border-radius: 10px;
        background-color: #C6d5c5;
        display: flex;
        margin:auto     
    }
    #contacto{
        max-width: 300px;
        width: 25%;
        display: flex;
        /*height: 10%;
        /*flex-grow: 1;*/
        flex-direction: column ;
    }
    #terminos{
        width: 25%;
        display: flex;
        /*height: 10%; 
        /*flex-grow: 1;*/
        flex-direction: column ;
    }
    #redes{
        width: 25%;
        display: flex;
        flex-direction: column ;   
        /*flex-grow: 1;*/
    }
    /*div#redes div{
        width: 80%;
        height: 10%;
        display: block;
    }*/
    #derechos{
        width: 25%;
        display: flex;
        flex-direction: column ; 
        /*height: 10%;
        /*flex-grow: 1;
        flex-direction: column ;*/
    }
    .row img{
        width: 35px;
        height: 35px;
    }
    #piepagina h3{
        text-align: center;
        padding: 30px;
    }
    #piepagina label{
        padding: 10px;
    }

@media screen and (max-width: 450px){
    header{
        animation-duration: 5s;
        animation-name:animacion ;
    }
    @keyframes animacion{
        0%{
            margin-top: 150%;
        }
        60%{
            margin-top: -5%;
        }
        100%{
            margin-top: 0%;
        }
    }
    #contenido{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 900px;   
        background-color: #02010a; 
    }
    #cabecera{
        max-height: 100px;
        padding: 10px;
    }
    #cabecera h1{
        text-align: center;
        background-color:#5b7989;
        color: white;
        text-shadow: 2px #02010a;
        width: 100%;
        height: 20px;
        font-family: "DancingScript-Regular";
    }
    #cabecera h3{
        text-align: center;
        width: 33%;
        padding: 30px;
    }
    #ImagenCentral{
        background-color: #82c3a6;
        padding: 10px;
    }
    #ImagenPrincipal{
        margin-left: auto;
        margin-right: auto;
    
        display: block;
        width: 70%;
        height: 40%;
    }
    #IzqImgSecundaria{
        background-color: #d5c75f;
        width: 100%;
        height: 50%;
        float: left;
        display: block;
        font-size: 50%;
        max-height: 300px;
    }
    #DerImgSecundaria{
        background-color: #d5c75f;
        width: 100%;
        height: 50%;
        float: right;
        display: block;
        font-size: 50%;
        max-height: 300px;
    }
    #IzqImagenSecundaria{
        transition: all 2s;
        width: 70%;
        height: 70%;
        float: left;
        margin: 50px;
        display: block;
        text-align: center;
    }
    #IzqImagenSecundaria:hover{
        transform: rotate(10deg);
        text-shadow: #82c3a6;
        border: 2px;
    }
    #DerImagenSecundaria{
        transition: all 2s;
        width: 70%;
        height: 70%;
        float: right;
        margin: 40px;
        display: block;
        text-align: center;
    }
    #DerImagenSecundaria:hover{
        transform: translate(5px, 20px);
        text-shadow: #82c3a6;
        border: 2px;
    }

    *{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    #SupDer{
        width:80%;
        margin: 30px;
        padding: 2px;
        height: 50%;
        flex-grow: 1;
    }
    #SupCen{
        width: 80%;
        margin: 30px;
        height: 50%;
        padding: 2px;
        flex-grow: 1;
    }
    #SupIzq{
        width: 80%;
        margin: 30px;
        padding: 2px;
        height: 50%;
        flex-grow: 1;
    }
    #InfDer{
        width: 80%;
        margin: 30px;
        height: 50%;
        padding: 2px;
        flex-grow: 1;
    }
    #InfCen{
        width: 80%;
        margin: 30px;
        height: 50%;
        flex-grow: 1;
        padding: 2px;
    }
    #InfIzq{
        width: 80%;
        margin: 30px;
        height: 50%;
        flex-grow: 1;
        padding: 2px;
    }

    #piepagina{
        width: 100%;
        height: 20%;
        border-radius: 10px;
        background-color: #C6d5c5;
        display: block;
        max-width: 450px;
    }
    #contacto{
        width: 100%;
        font-size: 80%;
        padding: 10px;
    }
    #terminos{
        width: 100%;
        font-size: 80%;
        padding: 10px;
    }
    #redes{
        width: 100%;
        font-size: 80%;
        padding: 10px;
    }
    .row img{
        width: 10px;
        height: 10px;
    }
    #derechos{
        width: 100%;
        font-size: 80%;
        padding: 10px;
    }
}
}